html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.LotteryEntrance {
  display: flex;
  justify-content: center;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C1713;
  color: #2A628F;
  padding: 5px 35px;
}

.ContractInteractions {
  text-align: center;
  margin-top: 20px;
}

.EnterRaffle {
  padding: 15px 20px;
  margin: 15px;
  font-weight: 600;
  font-size: 1.23rem;
  box-shadow: 2px 2px 5px #070D0B;
  color: #fff;
  background-color: #3781BE;
  border-radius: 5px;
  border: 1px solid #000;
}

.EnterRaffle:hover, .EnterRaffle:focus {
  color: #fff;
  background-color: #070D0B;
}

.ContractText {
  margin-top: 10px;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #0C1713;
}

.ButtonLoading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.LinksContainer {
  margin-top: 20%;
  justify-content: center;
}

.Links {
  text-decoration: underline;
  color: #3498db;
  padding-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
